
#addEntry {
    padding: 1rem; 
    background-color: #F55A5A;
    color: white; 
    border: none; 
    border-radius: 5px;
    font-size: 1.5rem; 
    margin-left: 45%; 
    margin-bottom: 50%;
}



